@model C2C_MVC.ViewModels.CategoriaViewModel
@{
    ViewBag.Title = "Registro de Categorias";
}

<div class="card">
    <div class="card-header">
        <h3>Categorias</h3>
    </div>
    <div class="card-body">
        <form action="/categoria/crear" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Nombre de Categoría:</label>
                <input type="text" name="CategoriaName" value="@Model.CategoriaName" class="form-control" />
                @Html.ValidationMessageFor(m => m.CategoriaName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Guardar <i class="fa fa-save"></i></button>
                <button type="reset" class="btn btn-danger">Restablecer <i class="fas fa-trash"></i></button>
            </div>
        </form>
    </div>

</div>

<h3 class="card-title">Categorías Registradas</h3>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-darker">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Gestión</th>
            </tr>
        </thead>
        @foreach (var item in Model.Categorias)
        {
        <tr>

            <td>@item.CategoriaId</td>
            <td>@item.CategoriaName</td>
            <td>
                <a href="/categoria/Update/@item.CategoriaId" class="btn btn-info btn-sm" title="Modificar">
                    <i class="fa fa-pencil"></i>
                </a>
            </td>
        </tr>
        }
    </table>
</div>
<a href="/home">Home</a>