@model C2C_MVC.ViewModels.VentaViewModel



@{
    ViewBag.Title = "Detalle de Ventas";
    List<SelectListItem> mpagos = (List<SelectListItem>)ViewBag.mpagos;
}


<h3 class="card-title">Ventas Registradas</h3>
<form class="form-inline mb-3" action="/venta/venta">
    
    @Html.DropDownList("MPagoId", mpagos, "Seleccione Medio de Pago", new { @class = "form-control" })
    <button type="submit" class="btn btn-info ml-1">
        <i class="fa fa-search"></i>
    </button>
</form>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-darker">
            <tr>
                <th>#</th>
                <th>Monto</th>
                <th>Cliente</th>
                <th>Vendedor</th>
                <th>Medio de Pago</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Ver</th>
            </tr>
        </thead>
        @foreach (var item in Model.Ventas)
        {

            <tr>

                <td>@item.VentaId</td>
                <td>@item.VentaMonto</td>
                <td>@item.NombreCVenta</td>
                <td>@item.User.NombreCompleto</td>
                <td>@item.MPago.MPagoName</td>
                <td>@item.VentaFecha</td>
                <td>@item.VentaHora</td>
                <td>
                    <a href="/venta/detalle/@item.VentaId" name="q" class="btn btn-info btn-sm" title="Revisar">
                        <i class="fas fa-search"></i>
                    </a>

                </td>
            </tr>
        }
    </table>
    
</div>
<a href="/home">Home</a>